@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

:root {
  --primary: #090821;
  --secondary: #ffffff;
  --tersiery: #f3f3f4;
  --gray: #828282;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    background: var(--tersiery); 
    border-radius: 12px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--primary); 
    border-radius: 12px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #090821b3; 
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}
.scrollHide {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--primary);
}

li {
  list-style: none;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(24px);
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); */
}

nav {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 40px;
  position: relative;
  display: flex;
}


.logo {
  width: 124px;
}

.logo img {
  width: 100%;
}

nav,
.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  gap: 24px;
  transition: all 0.4s ease-in-out;
}

.navLinks li a {
  font-weight: 600;
  font-size: 16px;
  position: relative;
  padding: 8px 4px;
  border-bottom: 2px solid transparent;
}
.navLinks li a:hover {
  border-bottom: 2px solid #090821;
}

.button, button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 164px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--primary);
  color: white;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button:hover, button:hover {
  opacity: 0.8;
}

.hamburger-menu {
  margin-top: 20px;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  padding: 3px 3px;
}
.hamburger-menu .menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 3px;
  background: var(--primary);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.menu-btn::before,
.menu-btn::after {
  position: absolute;
  content: " ";
  width: 24px;
  height: 3px;
  background: var(--primary);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.menu-btn::before {
  transform: translateY(-8px);
}
.menu-btn::after {
  transform: translateY(8px);
}

/* ANIMATION */
.hamburger-menu.open .menu-btn {
  transform: translateX(-10px);
  background: transparent;
  box-shadow: none;
}
.hamburger-menu.open .menu-btn::before {
  transform: rotate(45deg);
}
.hamburger-menu.open .menu-btn::after {
  transform: rotate(-45deg);
}

main {
  padding: 0 100px;
  max-width: 1280px;
  margin: 0 auto;
}
.hero {
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0;
  gap: 56px;
  margin-top: 40px;
}

.heroLeft section {
  margin-bottom: 32px;
}
.heroText h1 {
  font-size: 2.5em;
  line-height: 50px;
  margin-bottom: 16px;
  font-weight: 800;
  text-transform: capitalize;
}
.heroText p {
  color: var(--gray);
  font-weight: 500;
  width: 80%;
}
.heroRight img {
  width: 100%;
}
.decorationCircle {
  position: absolute;
  z-index: -1;
  right: -50px;
  top: -150px;
  width: 700px;
  opacity: 0.05;
}

.card-information {
  width: 100%;
  background-color: var(--primary);
  color: white;
  border-radius: 50px;
  padding: 72px 32px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 24px;
  margin-top: 100px;
}
.info {
  display: flex;
  gap: 16px;
  width: calc(100%/3);
}
.info-icon img {
  width: 36px;
}
.info h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 12px;
}
.info p {
  font-weight: 300;
  font-size: 14px;
}
.container {
  width: 100%;
  margin-top: 200px;
}
.title {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 32px;
}
.title h1 {
  font-weight: 700;
  margin-bottom: 12px;
}
.title p {
  color: var(--gray);
}
.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-top: 50px;
}
.card {
  background-color: var(--tersiery);
  padding: 32px 32px;
  width: calc(100% / 3);
  height: 500px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.card-header .price {
  font-size: 28px;
  font-weight: 500;
}
.card-content p {
  color: var(--gray);
  font-size: 14px;
  margin-bottom: 16px;
  margin-top: 16px;
}
.card-header p {
  margin-top: 4px;
}
.card-description,
.order {
  width: 100%;
}
.order {
  display: flex;
  justify-content: end;
}
.order-btn {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
  transition: all .3s ease-in;
}
.order-btn:hover{
    background-color: var(--primary);
    color: white;
}
.fitur {
  display: flex;
  gap: 16px;
}
.fitur p {
  margin: 8px;
}
.fitur img {
  width: 24px;
}

.about-content {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}
.about-text {
  width: 70%;
  text-align: justify;
  line-height: 40px;
}
.about-content img {
  width: 200px;
}
.social-container {
  margin-top: 20px;
  width: 100%;
  margin: 0 auto;
}
.social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-icons li {
  display: inline-block;
  position: relative;
}
.social-icons a {
  display: inline-block;
  transition: all 0.3s ease-in;
}
.social-icons a:before {
  content: " ";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  background-color: var(--primary);
  transition: all 0.3s ease-in;
}
.social-icons a:hover::before {
  transform: scale(0);
}
.social-icons i {
  color: var(--secondary);
  position: absolute;
  top: 12px;
  left: 13px;
  transition: all 0.3s ease-out;
}
.social-icons a:hover i {
  transform: scale(2);
  color: var(--primary);
}
.contact {
  margin-bottom: 200px;
}
.contact-form {
  width: 70%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  font-size: 16px;
  font-weight: 700;
}

input,
textarea {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  padding: 12px 12px;
  border: none;
  border-bottom: 2px solid var(--gray);
  font-size: 16px;
  font-weight: 500;
}
::placeholder {
  color: var(--gray);
}
input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--primary);
}

textarea {
  resize: vertical;
  margin-bottom: 20px;
}
.profile-text {
  width: 100%;
}
.profile-title h1 {
  font-size: 36px;
  margin-bottom: 4px;
}
.profile-title p {
  font-size: 18px;
  color: var(--gray);
}

table {
  margin-top: 20px;
  width: 100%;
  height: 200px;
}
table th {
  text-align: left;
}
td {
  font-weight: 500;
}

.biodata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.biodata aside {
  width: 400px;
}
.biodata aside img {
  transform: scale(0.7);
  border-radius: 30px;
}

footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  width: 100%;
}
.footer-contents {
  max-width: 1280px;
  padding: 36px 40px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5em;
  margin: 0 auto;
}
footer a {
  color: white;
}
footer img {
  width: 124px;
  margin-bottom: 12px;
}
footer .content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}
.content h3 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.content a {
  transition: all 0.3s ease-in-out;
  color: var(--tersiery);
}
.content a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  nav {
    padding: 12px 24px;
  }
  main {
    padding: 0 20px;
    margin: 0 auto;
  }
  .hero {
    padding: 56px 0;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 70px;
  }
  .heroText h1 {
    font-size: 1.5em;
    line-height: 30px;
  }
  .heroText p {
    width: 100%;
  }
  .heroText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .heroLeft .button {
    margin: auto;
  }
  .decorationCircle {
    width: 400px;
  }
  .heroRight img {
    width: 350px;
  }
  .navLinks {
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(1200px);
    height: 110vh;
    text-align: center;
    background-color: var(--secondary);
    padding: 100px 40px;
  }
  .active {
    transform: translateX(0);
    display: flex;
  }
  .navLinks a {
    line-height: 50px;
  }
  .hamburger-menu {
    display: block;
  }
  .card-information {
    flex-direction: column;
  }
  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .info{
    width: 100%;
  }
  .card {
    width: 100%;
    max-width: 300px;
    padding: 24px 24px;
    border-radius: 30px;
    height: 500px;
    max-height: 450px;
  }
  .fitur {
    gap: 8px;
  }
  .title {
    width: 100%;
  }
  .about-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .about-text {
    width: 100%;
    text-align: center;
  }
  .contact-form {
    margin-top: 50px;
    width: 100%;
  }
  .biodata {
    flex-direction: column;
    text-align: center;
    gap: 12px;
  }
  table {
    text-align: left;
    margin: 0 auto;
    margin-top: 30px;
  }
  .profile-title h1 {
    font-size: 22px;
  }
  .biodata aside,
  .biodata aside img {
    width: 100%;
  }
  footer {
    margin-top: 100px;
  }
  .footer-contents {
    flex-direction: column;
    gap: 1.5em;
  }
}

@media screen and (max-width: 1000px) {
  main {
    padding: 0 30px;
  }
  .cards-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
